<!DOCTYPE html>
<html>
    <head>
        <title>James' Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>
        <article>
            {% if posts %}
                {% for post in posts %}
                    <article>
                        <h2><a href="">{{ post.title}}</a></h2>
                        <time>published: {{ post.published_date }}</time>
                        <p>{{ post.text|linebreaksbr }}</p>
                {% endfor %}
            {% else %}
                <p> No Posts! </p>
            {% endif %}
        </article>
    </body>
</html>
